<!--
  Generated template for the MembershipCardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="bg1">
	<ion-navbar>
		<!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
		<ion-title>Pharmacy Discount Card</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<mbsc-form class="md-schedule bg-white">
		<div>
			<mbsc-note color="success" no-margin margin-bottom>FREE CARD! NEVER EXPIRES!</mbsc-note>

			<mbsc-segmented-group [(ngModel)]="toWhom" class="no-padding">
				<mbsc-segmented value="family">For Family</mbsc-segmented>
				<mbsc-segmented value="pet">For Pet</mbsc-segmented>

			</mbsc-segmented-group>
		</div>
	</mbsc-form>

	<div class="card-scroll-cont" *ngIf="toWhom == 'family'" padding-top>
		<div class="custom-card-cont">
			<div class="custom-card">
				<img src="assets/imgs/medidelivery/pharmacy-savings-card-front.png" />
			</div>

		</div>
	</div>
	<div class="card-scroll-cont" *ngIf="toWhom == 'pet'" padding-top>
		<div class="custom-card-cont">
			<div class="custom-card">
				<img src="assets/imgs/medidelivery/pharmacy-savings-card-front-pet.png" />
			</div>

		</div>
	</div>
	<button margin-top ion-button icon-end full (click)="shareMpCard()" class="share-button mp-bg-green">
		<b>SHARE &nbsp;</b> Help Your Family & Friends SAVE too!
		<ion-icon name="md-share"></ion-icon>
	</button>
</ion-content>
<ion-footer *ngIf="membershipCreatedId">
	<ion-row>
		<ion-col col-12 no-padding>
			<button ion-button class="custom" full (click)="continue()">Continue</button>
		</ion-col>
	</ion-row>
</ion-footer>