page-new-orders {
	.shadow {
		background: #fff;
	}
	.icon-cont {
		font-size: 5rem;
		color: #b2b2b2;
	}
	.button.custom.accept {
		color: #b2b2b2;
		border-right: 1px solid #e4d8d8;
		background: #f6f6f6;
		box-shadow: none;
	}
	.button.custom.reject {
		color: red;
		background: #f6f6f6;
		box-shadow: none;
	}

/* new css */
	.mbsc-form{
		background: #ffffff !important;
	}
	.order-list{
		font-size: 1.4rem;
		text-transform: capitalize;
	}
	.text-green{
		color: #00d6ba;	
	}

}
