<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- <ion-header class="bg">
	<ion-navbar>
		<ion-buttons left> -->
<!-- <button ion-button icon-only color="royal"> -->
<!-- <span><img src="assets/imgs/cart.png" class="cart" style="position: relative;left: 30px;"></span> -->
<!-- <span><img src="assets/imgs/popup-screen-Recovered.png" class="cart" style="left: -20px;"></span>
			</button> -->
<!-- <button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title><img src="assets/imgs/heart-logo.png" class="logo_small"> -->
<!-- <span float-right (tap) = "setDisplayMode(false)" *ngIf="displayMode" padding-right>Edit</span> -->
<!-- <span float-right (tap) = "setDisplayMode(true)" *ngIf="!displayMode" padding-right>View</span> -->
<!-- <ion-buttons right>
				<button ion-button icon-only color="royal" (click)="goto('druginfo')">
					<span><img src="assets/imgs/cart.png" class="cart" style="position: relative;left: 30px;"></span> -->
<!-- <span><img src="assets/imgs/log.png" class="cart"></span> -->

<!-- <span class="cartcount" *ngIf="cartcount()">
							{{cartcount()}}
						</span> -->

<!-- </button>
				<button ion-button icon-only color="royal" (click)="shareMpCard()"> -->
<!-- <span><img src="assets/imgs/cart.png" class="cart" style="position: relative;left: 30px;"></span> -->
<!-- <span><img src="assets/imgs/share.png" class="cart"></span>
				</button>
			</ion-buttons>
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content no-padding> -->

<!-- <div id="delivery-home">

		<div class="saving-cont mp-bg-green" text-center>
			<a href="javascript:void(0);" class="iconshadow save-money" (click)="searchMedicines()">
				<ion-icon name="ios-search"></ion-icon>
				Search For Lowest Price
			</a>
		</div>

		<ion-grid>
			<ion-row style="border: 1.5px solid #62e0cb;border-radius: 5px;">
				<div class="slide-cont">
					<ion-slides pager autoplay="2000" loop="true" speed="500">
						<ion-slide>

							<h2 class="slider_text">Healthcare Affordable and On-Demand</h2> -->
<!-- <div class="border1"></div> -->
<!-- <div class="slide1">

							</div> -->
<!-- <div class="slide_backdrop">&nbsp;</div> -->
<!-- </ion-slide> -->

<!-- <ion-slide> -->
<!-- <h2 class="slider_text">FREE Rx Savings Card</h2> -->
<!-- <div class="border"></div> -->
<!-- <div class="slide2"> -->

<!-- </div> -->
<!-- <div class="slide_backdrop">&nbsp;</div> -->
<!-- </ion-slide>

						<ion-slide>

							<h2 class="slider_text">Recent Member Savings</h2> -->
<!-- <div class="border2"></div> -->
<!-- <div class="slide3">
							</div> -->
<!-- <div class="slide_backdrop">&nbsp;</div> -->
<!-- </ion-slide>
					</ion-slides> -->

<!-- </div>
			</ion-row>
		</ion-grid> -->
<!-- </div> -->


<!-- <div class="saving-cont save-box" text-center margin>
			<a href="javascript:void(0);" class="iconshadow save-money" (click) ="chooseMembership()" >Save Up To <span>80%</span> On Prescription Family & Pet</a>
		</div>  -->
<!-- <div class="logo-cont" text-center margin-top>
			<a href="javascript:void(0);" (click)="searchMedicines()" class="iconshadow">
				<img src="assets/imgs/bik.png" style="width:50%;float: left;"alt="bik" />
				<span class="some-text">Same Day <br /> On-demand <br /> Medi Delivery</span>
			</a>
	 </div> -->


<!-- <ion-grid>
			<ion-row>
				<ion-col col-6>
					<div class="save__box">
						<a href="javascript:void(0);" (click)="discount()">
							<h2>Save up to 80% On Prescription Family & Pets</h2>
							<img src="assets/imgs/medidelivery/tablet.png" />
						</a>
					</div>

				</ion-col>

				<ion-col col-6>
					<div class="same__day__box">
						<a href="javascript:void(0);" id="showVariation" (click)="showPrompt()">
							<h2>Same Day On-Demand Medicine Delivery</h2>
							<img src="assets/imgs/medidelivery/men.png" />
						</a>
					</div>

				</ion-col>
			</ion-row>

		</ion-grid>
	</div>
</ion-content> -->
<!-- <ion-footer>
	
	<div class="footer-cont" padding-top>
		<ion-row>
	        <ion-col col-12 no-padding>
	            <button (click)="searchMedicines()" ion-button class="custom custom_button" full>Order Same Day MediDelivery</button>
	        </ion-col>
	    </ion-row>
	</div>
</ion-footer> -->

<!-- Old Code -->

<!-- <mbsc-popup [options]="popupsettings" #variations="mobiscroll">
	<mbsc-listview [options]="lvSetting">
		<mbsc-listview-item>
			This service is available in limited zip codes for now 91406,90024, 91423,91401
		</mbsc-listview-item>
	</mbsc-listview>
</mbsc-popup> -->

<!-- <mbsc-popup [options]="popupsettings" #variations="mobiscroll">
	<ion-row>
		<ion-col col-12 no-padding>
			<h5 text-center>Check availability</h5>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col col-12 no-padding class="verify-phone-input">
			<input type="number" placeholder="Enter the your pincode..." [(ngModel)]="pincode" />
		</ion-col>
	</ion-row>
</mbsc-popup> -->


<!--
  Generated template for the HomePage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header class="bg">
	<ion-navbar>
		<ion-buttons left>
			<button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title><img src="assets/imgs/heart-logo.png" class="logo_small">
			<ion-buttons right>
				<button ion-button icon-only color="royal" (click)="goto('druginfo')">
					<span><img src="assets/imgs/cart.png" class="cart" style="position: relative;left: 30px;"></span>
				</button>
				<button ion-button icon-only color="royal" (click)="shareMpCard()">
					<span><img src="assets/imgs/share.png" class="cart"></span>
				</button>
			</ion-buttons>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content no-padding>
	<div id="delivery-home">
		<h2 class="compare_price">Start Saving On Prescriptions <br /> By Comparing Prices</h2>
		<div class="saving-cont mp-bg-green" text-center>
			<a href="javascript:void(0);" class="iconshadow save-money" (click)="searchMedicines()">
				<ion-icon name="ios-search"></ion-icon>
				Search For Lowest Price
			</a>
		</div>

		<!-- <ion-grid>
			<ion-row style="border: 1.5px solid #62e0cb;border-radius: 5px;">
				<div class="slide-cont">
					<ion-slides pager autoplay="2000" loop="true" speed="500">
						<ion-slide>
							<h2 class="slider_text">Healthcare Affordable and On-Demand</h2>
							<div class="slide1"></div>
						</ion-slide>

						<ion-slide>
							<h2 class="slider_text">FREE Rx Savings Card</h2>
							<div class="slide2"></div>
						</ion-slide>

						<ion-slide>
							<h2 class="slider_text">Recent Member Savings</h2>
							<div class="slide3"></div>
						</ion-slide>
					</ion-slides>
				</div>
			</ion-row>
		</ion-grid> -->

		<p class="health_txt">WITH HEALTH</p>
		<ion-grid>
			<ion-row>
				<ion-col col-6>
					<p class="save_money">SAVE MONEY</p>
					<div class="save__box">
						<a href="javascript:void(0);" (click)="discount()">
							<h2>Save up to 80%*<br />On Prescriptions<br />Family & Pet</h2>
							<img src="assets/imgs/medidelivery/tablet.png" />
						</a>
					</div>
				</ion-col>

				<ion-col col-6>
					<p class="save_time">SAVE TIME</p>
					<div class="same__day__box">
						<a href="javascript:void(0);" id="showVariation" (click)="showPrompt()">
							<h2>Same Day<br />On-Demand<br />Medicine Delivery</h2>
							<img src="assets/imgs/medidelivery/men.png" />
						</a>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>