<!--
  Generated template for the CreatePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<ion-title>&nbsp;</ion-title>
	</ion-navbar>
</ion-header>

<ion-content no-padding>
	<div class="logo-cont">
		<div class="logo-image" padding-bottom>
			<div class="image"> 
				<img alt="logo" src="././././assets/imgs/logo-tagline-white.png">
			</div>
		</div> 
	</div>
	<div class="signin-cont-outer" >
		<div class="signin-cont" padding>
			<div class="page-title">
			<span>Create</span> your password
			</div>
			<div class="form-content">
				<form [formGroup]="passwordForm" novalidate >
				<ion-row>
					<ion-col col-12 no-padding>
						<span class="error-cont" *ngIf="passwordForm.get('password').hasError('required') && (passwordForm.get('password').touched || displayError)" >
							<ion-icon name="alert"></ion-icon>
							<span class="error-hover">Required</span>
						</span>
						<ion-label stacked class="white-space-normal">Password</ion-label>
						<ion-item no-padding class="item-username">
							<ion-input type="password" class="stackedissue" placeholder="password" formControlName="password" ></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-12 no-padding>
						<span class="error-cont" *ngIf="passwordForm.get('confirmpassword').hasError('required') && (passwordForm.get('confirmpassword').touched || displayError)" >
							<ion-icon name="alert"></ion-icon>
							<span class="error-hover">Required</span>
						</span>
						<ion-label stacked class="white-space-normal">Retype your Password</ion-label>
						<ion-item no-padding class="item-username">
							<ion-input type="password" class="stackedissue" placeholder="Retype your password" formControlName="confirmpassword" ></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>

				</form>
			</div>
		</div>
	</div>
	<ion-fab bottom right>
		<button ion-fab class="custom" [disabled]= "showSpinner" (tap)="createPassword()" >
			<ion-icon name="ios-checkmark-circle-outline" *ngIf="!showSpinner"></ion-icon>
			<ion-spinner name="crescent" class="white" *ngIf="showSpinner"></ion-spinner>
		</button>
	</ion-fab>  
</ion-content>
