page-create-password {
	.text-input {
        margin: 13px 0px;
    }
    .item {
    	background:transparent;
    }
	.item.item-input.item-input-has-focus .item-inner,
    .item.item-input.input-has-focus .item-inner {
        border-bottom-color: inherit;
        -webkit-box-shadow: none !important;
        box-shadow: none;
    }
    .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: #d1d3d6;
        -webkit-box-shadow: none !important;
        box-shadow: none;
    }

    .item.item-input.item-input-has-focus .item-inner ion-input,
    .item.item-input.input-has-focus .item-inner ion-input,
    .item.item-input.item-input-has-focus .item-inner ion-textarea,
    .item.item-input.input-has-focus .item-inner ion-textarea {
        border-color: #d1d3d6;
    }

    .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner ion-input, .item.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner ion-input,
    .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner ion-textarea, .item.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner ion-textarea
    {
        border-color: #d1d3d6;
    }

    .item.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-color: inherit;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    .item.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner ion-input,
    .item.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner ion-textarea {
        border-color: #d1d3d6;
    }
    .logo-cont{
        background-image: url(../assets/imgs/medidelivery/home_bg_grayed.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 48vh;
        background-size: cover;
        position: relative;
        background-position: top center;
    }
    .logo-backdrop{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        background: #5c5c5c;
        opacity: 0.6;
    }
    .logo-image {
	    width: 58%;
	    margin: 0 auto;
	    padding-top: 16%;
	    z-index: 1;
	    text-align: center;
	}
	.fixed-content, .scroll-content {
		margin-top: 0px !important;
	}
	.page-title{
        font-size: 2rem;
        font-weight: bold;
        padding-bottom: 7px;
	    span{
	        padding-bottom: 7px;
	        border-bottom: 2px red solid; 
	    }    
    }
    .white-space-normal {
    	white-space: normal;
    }
    .spinner.white circle {
        fill: #00d6ba;
        stroke: #fff;
    }
}
