page-order-verify {
	.order-cont {
		font-size: 2rem;
	}
	.order-id {
		color: #00d6ba;
	}
	.verification .code {
		font-size: 2.4rem;
	}
	.shadow {
		background: #fff;
	}
	#verification .code {
		font-size: 3rem;
		color: #00d6ba;
	}
	.order-cont.delivery {
		background: #00d6ba;
	    font-size: 1.4rem;
	    padding: 16px;
	    text-align: left;
	    margin: 0px;
	    border-top: 1px solid #fff;
	}
	.order-cont.delivery .order-id, .order-cont.delivery .patient-name {
		text-align: left !important;
		color: #fff;
	}
	.button.custom.white, .button.custom.white:hover {
		background: #fff;
		border: 1px solid #00d6ba;
		border-radius: 4px;
		min-width: 100px;
		color: #00d6ba
	}
	.success-msg {
		color: #32db64;
	}
	.error-msg {
		color: #f53d3d;
	}
	.mbsc-lv-loading .mbsc-ic{
		
		
			color: #ffffff !important;
		
	}
}
