page-prescription-finalize {
	.prescription-list .heading {
		font-weight: 500;
		font-size: 1.5rem;
	}
	.prescription-list .desc {
		font-size: 1.2rem;
		color: #9c9797;
	}

	.head {
		color: #00d6ba;
	}
	.shadow{
		background: #fff;
	}
}
