page-active-orders {
	.order-id {
		font-size: 1.6rem;
		font-weight: 500;
	}
	.shadow {
		background: #fff;
	}
	.icon-cont {
		font-size: 5rem;
		color: #b2b2b2;
	}
	.button.custom, .button.custom:hover {
		background: #f6f6f6;
		box-shadow: none;
	}
	.button.custom.accept {
		color: #b2b2b2;
		border-right: 1px solid #e4d8d8;
	}
	.button.custom.reject {
		color: red;
	}
}
