<ion-menu [content]="content" ion-menu-toggle = "false">

  <ion-header class="menu-header left-menu-background">
    <ion-toolbar>
      <ion-row padding-top>
        <ion-col col-12 padding>
            <div class="menu-logo-cont">
              <img src="././././assets/imgs/medidelivery/logo.png" alt="logo" />
            </div>
            
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-12 padding class="pharmacy_name">
            {{pharmacyInfo.pharmacy_name}}
           </ion-col>
       </ion-row>
       <ion-row>
          <ion-col col-12 padding class="address">
              {{pharmacyInfo.pharmacy_address}} <br>
              {{pharmacyInfo.pharmacy_city}},  {{pharmacyInfo.pharmacy_state}}, {{pharmacyInfo.pharmacy_country}}, {{pharmacyInfo.pharmacy_zip}}.
           </ion-col>
       </ion-row>     
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list no-lines id="menu-cont" margin-top>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <button ion-item *ngIf="userloggedin" (click)="onLogout()">
        Logout
      </button>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-row>
      <ion-col col-12 text-center padding>
        Version 0.0.1
      </ion-col>
    </ion-row>
  </ion-footer>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
